.dashboard-layout {
  display: flex;
  height: 100vh;
  background-color:#9CA2BA;
}

.sidebar {
  width: 20%;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  background-color: #eaecf1;
}

.dashboard-body {
  flex: 2;
  padding: 20px 1% 1% 21%;
  overflow-y: auto;
}
