.sidebar {
  width: 20%; 
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: fixed;
}

.logo {
  padding: 20px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0 20px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px ;
  color: #9ca2ba;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.nav-item:hover {
  background-color: #f5f5f5;
}

.nav-item.active {
  background-color: #6c63ff;
  border-radius: 0.5rem;
  color: white;
}

.nav-item.active .icon {
  color: white;
}

.icon {
  margin-right: 10px;
  color: #8C9AC0;
}

.sidebar-footer {
  margin-top: auto;
  padding: 20px;
  border-top: 1px solid #ddd;
}

.pro-box {
  background: linear-gradient(to right, #ea9efd, #5148ff);
  padding: 10px;
  border-radius: 1rem;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.pro-text {
  font-size: 13px;
  text-align: center;
  margin: 15px 0;
  color: white;
}

.pro-btn {
  width: 100%;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #6c63ff;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.profile p {
  font-weight: bold;
  margin: 0;
}

.profile span {
  font-size: 12px;
  color: #888;
}

.sidebar-footer-arrow {
  margin-left: 1.5rem;
  display: flex;
}


/* Tablet View (768px - 1024px) */
@media (max-width: 1024px) {
  .sidebar {
    width: 12%; /* Shrink the width */
  }

  .nav-item span {
    display: none; /* Hide text */
  }

  .profile div {
    display: none; /* Hide profile text */
  }

  .pro-box {
    display: none; /* Hide Pro box */
  }
}

/* Mobile View (up to 768px) */
@media (max-width: 768px) {
  .sidebar {
    width: 10%;
  }

  .logo h2 {
    display: none; /* Hide logo text */
  }

  .nav-item span {
    display: none;
  }

  .profile div {
    display: none;
  }

  .pro-box {
    display: none;
  }
}